.main {

  padding: 20px;

  background: #010101;

}

.mainInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 100%;
  background: #010101;
  border: 1px solid #18181C;
  border-radius: 20px;
}

.cover,
.contact {
  width: 50%;
  background: black;
  min-height: 93.1vh;
  position: relative;
}
@media (max-width: 700px) {
  .mainInner{ flex-direction: column;}
  .cover,
.contact{width:100%;}
.cover{
  min-height:50vh;
}
}

.cover {
  background: url(/cover.png)center center no-repeat;
  background-size:cover;
  border-radius: 10px;

}

.logoHeader {
  margin-top: 50px;
  margin-left: 20px;
}
.contact{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formWrap{
  width:50%;
  
}
.sticker {
  position: absolute;
  top: 0;
  right: 0;
}
.contact hr{
  color:#18181C;
}

.register{
 
  padding:10px 25px;
  border-radius:35px;
  border:1px solid #232329;
  background:transparent;
  color:#E1E2E2;
}
.login{
 
  padding:10px 30px;
  border-radius:35px;
  border:1px solid #232329;
  background:#7B5BE6;
  color:#E1E2E2;
  
}
.login svg{ margin-right:10px;}
.credit{
  color:#232329;
  text-align: center;
  font-size:10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:18px;
}

/* Mobile */
@media (max-width: 700px) {
  .formWrap {
    width:80%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}